*{
  padding: none;
  margin: none;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body{
  background: #414141;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 0);
}

.logo span{
  margin: 30px;
  font-weight: 600;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu{
  display: flex;
}

.nav_menu li a{
  color: #ffffff;
  padding: 10px 30px;
}

.Component{
  display: flex;
  justify-content: space-between;
}

.section--hambur{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hamburguesas_description{
  width: 500px;
  margin-right: 50px;
}

.contenedor--img--hambur{
  margin-left: 50px;
}

.hamburguesas_description p{
  line-height: 2.5;
  font-size: 17px;
}

.figure_cont--hambur{
  height: 500px;
  height: 600px;
  border-radius: 100%;
}

.figure_cont--hambur img{
  height: 500px;
  width: 500px;
  border-radius: 100%;
  
}

.cont-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  height: 350px;
  width: 300px;
  border: 1px solid #fff;
}

.form h3{
  width: 100%;
  text-align: center;
}

.label--form{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.label--form span{
  width: 90%;
}

.label--form input{
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(255, 0, 0);
  background-color: rgb(255, 255, 255,0.0);
  height: 30px;
}

.label--form--btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-form{
  width: 200px;
  height: 35px;
  border-radius: 17px;
  background-color: rgb(255, 45, 45);
  outline: none;
  border: none;
}


